@inherits LayoutComponentBase
@inject StorageHandler Storage

<div class="page">
    <main>
        <div class="top-row">
            <p>&copy; Copyright Looky 2022</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>