@page "/"
@inject StorageBuilder Storage

<PageTitle>Index</PageTitle>

<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Login</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" @bind="login" disabled=@loggedIn>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" @bind="password" disabled=@loggedIn>
    </div>
    <button type="submit" class="btn btn-primary mt-2" @onclick=SignIn>SignIn</button>
</form>
@if(storage != null) {
    @foreach(var item in storage) {
        <p>
            @item.Name
        </p>
    }
}
<div>
    @login
</div>

@code {
    private string? login { get; set; }
    private string? password { get; set; }
    private List<StorageItemModel>? storage { get; set; }
    private bool loggedIn = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    private void SignIn() { 
        if ((login != null) && (password != null) && (login != string.Empty) && (password != string.Empty))
        {
            //Storage.SetStorage(login)
            //       .SetAlgo(new LookyAlgo(password))
            //       .Build();
            //storage = Storage.GetStorage;
            loggedIn = true;
            //StateHasChanged();
        }
    }
}